<div class="row">
    <div *ngFor="let cosmetic of cosmetics;let i = index" class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <div>
                <a *ngIf="authService.loggedIn()" style="float:right" [ngClass]="{'ared' : cosmetic.like , 'agrey' :!cosmetic.like}">
                    <i [id]="i" class="fa fa-2x fa-heart" (click)="addToWishlist($event)" aria-hidden="true"></i>
                </a>
            </div>
            <img [src]="'http://localhost:3000/cosmetic_image/' + cosmetic.image" width="100%">
            <div class="caption">
                <h4>{{cosmetic.brand}}</h4>
                <h5>{{cosmetic.name}}</h5>
            </div>
        </div>
    </div>
</div>