<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div *ngFor="let cosmetic of cosmetic" class="panel-body">
                <div class="col-md-6 col-sm-6">
                    <img [src]="'http://localhost:3000/cosmetic_image/' + cosmetic.image">
                </div>
                <div class="col-md-5">
                    <h5><b>{{cosmetic.brand}}</b></h5>
                    <h5>{{cosmetic.name}}</h5>
                    <h6>Category : <a (click)="goToCosmetic()"><b>{{cosmetic.category}}</b></a></h6>
                    <h6>Quality : {{cosmetic.quality}}</h6>

                    <div class="form-group">
                        <div *ngFor="let x of cosmetic.color" style="display:inline-block;">
                            <img class="imgDisplay" [style.background]="x" src="" alt="" [title]="x">
                        </div>
                    </div>
                    <h5>Detail</h5>
                    <h6>{{cosmetic.detail}}</h6>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <h4>Rating and Review</h4>
                    <hr>
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-12 col-md-10 col-md-offset-1">
                    <h4>Comment</h4>
                    <hr>
                    <div class="col-md-8 col-sm-12 col-md-offset-2">
                        <h5>Username : </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>