<html>
    <head>
        <script src="angular/angular.js"></script>
        <script src="js/admin.js"></script>
    </head>
    <body>
        <div ng-app="listed" ng-controller="controllers" ng-init="getCosmetics()">
            <input type="text" ng-model="search">
            <form>
                brand : <input type="text" ng-model="brand"><br>
                type : <input type="text" ng-model="type"><br>
                name : <input type="text" ng-model="name"><br>
                collection : <input type="text" ng-model="collection"><br>
                detail : <input type="text" ng-model="detail"><br>
                <button type="submit" ng-click="edit()">EDIT</button>
            </form>
        </div>
    </body>
</html>