<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Log in</h3>
            </div>
            <div class="panel-body">
                <form accept-charset="UTF-8" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Username</label>
                            <input class="form-control" id="focusedInput" [(ngModel)]="username" name="username" type="text" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="focusedInput">Password</label>
                            <input class="form-control" id="focusedInput" [(ngModel)]="password" name="password" type="password" placeholder="Password">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" (click)="login()" value="Login">
                        <a style="float:right" [routerLink]="['/reset']">forget password</a>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>