img {
    cursor: pointer
}

i {
    cursor: pointer
}

.ared {
    color: #FF1744
}

.ared:hover {
    color: #616161
}

.thumbnail {
    height: 410px
}

h6 a {
    color: #212121;
    cursor: pointer
}

h5 a {
    color: #212121;
    cursor: pointer
}