.panel-title {
    text-align: center;
    font-size: 24px
}

.panel-heading {
    background-color: #E3F2FD
}

.btn-success {
    background-color: #BBDEFB;
    color: #212121
}

img {
    width: 100%;
    height: auto;
}