<div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-3">
                    <img [src]="url">
                    <input type="file" accept="image/*" id="selectedFile" (change)="readUrl($event)" ng2FileSelect [uploader]="uploader" style="display: none;" />
                    <input class="btn btn-sm btn-success btn-block" type="button" value="choose your image" onclick="document.getElementById('selectedFile').click();" />
                </div>
                <div class="col-md-9">
                    <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" id="focusedInput" type="text" [(ngModel)]="username" name="username" maxlength="20" placeholder="Username" required>
                                <span id="helpBlock" class="help-block">You can use letters , numbers 8-20 characters</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="focusedInput" type="password" [(ngModel)]="password" name="password" maxlength="20" placeholder="Password" required>
                                <span id="helpBlock" class="help-block">Use at least 8 characters</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="focusedInput" type="password" [(ngModel)]="repassword" name="repassword" maxlength="20" placeholder="Re-Password" required>
                                <span id="helpBlock" class="help-block">Same as above</span>
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="focusedInput" type="text" [(ngModel)]="email" name="email" placeholder="Email" required>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" (click)="register()" value="Register">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>